<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar  bg-info">
            <div class="container-fluid">
              <a class="navbar-brand">HOME PAGE</a>
              <ul class="navbar-nav justify-content-center fw-bold">
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'cards' %}">ACTORS</a>
                </li>
                <li lass="nav-item">
                    <a class="nav-link text-black" href="{% url 'posts' %}">UPDATES</a>
                </li>

              </ul>
              <form class="d-flex" role="search">
                
                <a href="{% url 'logout' %}" class="btn btn-outline-success" type="button">LogOut</a>
              </form>
            </div>
          </nav>
          <br>
          <br>
          <div class="container">

 
          <h1 class="text-center">Indian Cinema</h1>
          <p>India has one of the oldest and largest film industries in the world. It was in early 1913 that an Indian film received a public screening. The film was Raja Harischandra. Its director, Dadasaheb Phalke is now remembered through a life-time achievement award bestowed by the film industry in his name. At that point of time it was really hard to arrange somebody to portray the role of females. Among the middle classes, that association of acting with the loss of virtue, female modesty, and respectability has only recently been put into question.
          While a number of other film-makers, working in several Indian languages, pioneered the growth and development of Indian cinema, the studio system began to emerge in the early 1930s. Its most successful early film was Devdas (1935), whose director, P.C. Barua also appeared in the lead role. The Prabhat Film Company, established by V. G. Damle, Shantaram, S. Fatehlal, and two other men in 1929, also achieved its first success around this time. Damle and Fatehlal's Sant Tukaram (1936), made in Marathi was the first Indian film to gain international recognition. </p>
          <p>The social films of V. Shantaram, more than anything else, paved the way for an entire set of directors who took it upon themselves to interrogate not only the institutions of marriage, dowry, and widowhood, but the grave inequities created by caste and class distinctions. Some of the social problems received their most unequivocal expression in Achhut Kanya ("Untouchable Girl", 1936), a film directed by Himanshu Rai of Bombay Talkies. The film portrays the travails of a Harijan girl, played by Devika Rani, and a Brahmin boy, played by Ashok Kumar. 

            The next noteworthy phase of Hindi cinema is associated with personalities such as Raj Kapoor, Bimal Roy, and Guru Dutt. The son of Prithviraj Kapoor, Raj Kapoor created some of the most admired and memorable films in Hindi cinema. 
            
            Awaara (The Vagabond, 1951), Shri 420 (1955), and Jagte Raho (1957) were both commercial and critical successes. Bimal Roy's Do Bigha Zamin, which shows the influence of Italian neo-realism, explored the hard life of the rural peasantry under the harshest conditions. In the meantime, the Hindi cinema had seen the rise of its first acknowledged genius, Guru Dutt, whose films critiqued the conventions of society and deplored the conditions which induce artists to relinquish their inspiration. From Barua's Devdas (1935) to Guru Dutt's Sahib, Bibi aur Gulam,the motif of "predestined love" looms large: to many opponents, a mawkish sentimentality characterizes even the best of the Hindi cinema before the arrival of the new or alternative Indian cinema in the 1970s. 
            
            It is without doubt that under the influence of the Bengali film-makers like Satyajit Ray, Ritwik Ghatak, and Mrinal Sen, the Indian cinema, not only in Hindi, also began to take a somewhat different turn in the 1970s against the tide of commercial cinema, characterized by song-and-dance routines, insignificant plots, and family dramas. Ghatak went on to serve as Director of the Film and Television School at Pune, from where the first generation of a new breed of Indian film-makers and actors - Naseeruddin Shah, Shabana Azmi, Smita Patil, and Om Puri among the latter was to emerge. 
            
           
            </p>
       
        </div>
          




        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>